@model Agent_profile.ViewModels.AgentVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="c-content__wrap">
    <div class="l-container">
        <div class="c-content__agent-profile h-clearfix">
            <div class="c-content__agent-overview l-col l-col-8">
                <div class="c-content__agent-card">
                    <h1>@Model.Agent.Name</h1>
                    <div class="c-content__agent-profile-photo">
                        <img src="~/images/agent5.png" alt="">
                    </div>
                    <div class="c-content__rating c-content__rating--agent">
                        <div class="c-content__rating-stars">

                            <span class="c-content__rating-star c-content__rating-star--full"></span>
                            <span class="c-content__rating-star c-content__rating-star--full"></span>
                            <span class="c-content__rating-star c-content__rating-star--full"></span>
                            <span class="c-content__rating-star c-content__rating-star--full"></span>
                            <span class="c-content__rating-star c-content__rating-star--half-full"></span>
                        </div>
                        <div class="c-content__rating-info">
                            <div class="c-content__rating-average">@Model.AvgReview</div>
                            <a href="#" class="c-content__agent-review-count">@Model.Review.Count()</a>
                        </div>
                    </div>
                    <div class="c-content__skill-bars c-content__skill-bars--agent">
                        @foreach (var review in Model.Review[0].Review)
                        {
                            <div class="c-content__skill-bar">
                                <div class="c-content__skill-bar-title">@review.Description</div>
                                <div class="c-content__skill-bar-average">@review.Review</div>
                                <div class="c-content__skill-bar-row--default">
                                    <div class="c-content__skill-bar-row" style="width:90%;"></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="c-content__agent-desc">
                    <h4 class="l-border">About</h4>
                    @Html.Raw(Model.Agent.About)
                </div>
            </div>
            <div class="c-content__agent-form l-col l-col-4">
                <div class="l-box l-box--contact-agent">
                    <form class="l-form l-contact-agent-form">
                        <div class="l-form__holder">
                            <h5>Contact Melissa</h5>
                            <div class="l-form__inner">
                                <div class="l-form-row h-clearfix">
                                    <div class="l-form-group">
                                        <input type="text" class="l-form-control" id="inputFirstName_ContactAgentForm" required>
                                        <label for="inputFirstName_ContactAgentForm" class="l-form-label">first name</label>
                                        <span class="l-form-control-focus"></span>
                                    </div>
                                </div>
                                <div class="l-form-row h-clearfix">
                                    <div class="l-form-group">
                                        <input type="text" class="l-form-control" id="inputLastName_ContactAgentForm" required>
                                        <label for="inputLastName_ContactAgentForm" class="l-form-label">last name</label>
                                        <span class="l-form-control-focus"></span>
                                    </div>
                                </div>
                                <div class="l-form-extra demo">
                                    <div class="l-form-row h-clearfix">
                                        <div class="l-form-group">
                                            <input type="email" class="l-form-control" id="inputEmail_ContactAgentForm" required>
                                            <label for="inputEmail_ContactAgentForm" class="l-form-label">email</label>
                                            <span class="l-form-control-focus"></span>
                                        </div>
                                    </div>
                                    <div class="l-form-row h-clearfix">
                                        <div class="l-form-group">
                                            <input type="text" class="l-form-control" id="inputPhone_ContactAgentForm" required>
                                            <label for="inputPhone_ContactAgentForm" class="l-form-label">phone</label>
                                            <span class="l-form-control-focus"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="l-form-row h-clearfix">
                                    <div class="l-form-group l-form-group--textarea">
                                        <textarea class="l-form-control" id="areaComment_ContactAgentForm" required></textarea>
                                        <label for="areaComment_ContactAgentForm" class="l-form-label">comment</label>
                                        <span class="l-form-control-focus"></span>
                                    </div>
                                </div>
                                <div class="l-form-row l-form-row--submit l-row--center">
                                    <button type="submit" class="l-btn l-btn-primary">Submit</button>
                                    <div class="l-form__buttons h-clearfix">
                                        <a href="#" class="l-btn l-btn--action l-btn--gray">Call</a>
                                        <a href="#" class="l-btn l-btn--action l-btn--gray">Leave Review</a>
                                    </div>
                                    <div class="l-form-text">
                                        <a href="#">www.crosbyrealestate.com</a>
                                    </div>
                                    <ul class="l-list l-list--social c-content__agent-form-social">
                                        <li>
                                            <a href="#" target="_blank">
                                                <span class="l-list--social__icon">
                                                    <img src="~/images/icon-twitter-agent.svg" alt="">
                                                </span>
                                                <span class="l-list--social__icon--hover">
                                                    <img src="~/images/icon-twitter-agent-dark.svg" alt="">
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <span class="l-list--social__icon">
                                                    <img src="~/images/icon-facebook-agent.svg" alt="">
                                                </span>
                                                <span class="l-list--social__icon--hover">
                                                    <img src="~/images/icon-facebook-agent-dark.svg" alt="">
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <span class="l-list--social__icon">
                                                    <img src="~/images/icon-linkedin-agent.svg" alt="">
                                                </span>
                                                <span class="l-list--social__icon--hover">
                                                    <img src="~/images/icon-linkedin-agent-dark.svg" alt="">
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="l-divider l-divider--big"></div>
        <h3>Active Listings</h3>
        <div class="c-content__property c-content__property--related">
            @foreach (var item in Model.ActiveListing)
            {

                <div class="c-content__property-item">
                    <a href="#">
                        <div class="c-content__property-main">
                            <div class="c-content__property-image">
                                <img src="@item.Image" alt="">
                            </div>
                            <div class="c-content__property-price h-clearfix">
                                <div class="c-content__property-price-current">
                                    @item.Value
                                </div>
                                @if (item.pricecange > 0)
                                {
                                    <div class="c-content__property-price-changes c-content__property-price-changes--up">
                                        <span class="value">@item.pricecange.ToString("F1")</span>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="c-content__property-desc">
                            <div class="c-content__property-info h-clearfix">
                                <div class="c-content__property-address">
                                    @item.Name
                                </div>
                                <div class="c-content__property-photos">
                                    <span>×</span> 12
                                </div>
                            </div>
                            <div class="c-content__property-features h-clearfix">
                                <div class="c-content__property-feature c-content__property-feature--beds">
                                    @item.Bed
                                </div>
                                <div class="c-content__property-feature c-content__property-feature--bath">
                                    @item.Bath.ToString("0.00")
                                </div>
                                <div class="c-content__property-feature c-content__property-feature--sqft">
                                    @item.Sqft.ToString("N0")
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="c-content__property-favorite"></div>
                </div>

            }

        </div>
        <div class="l-row l-row--center">
            <a class="l-btn l-btn-more l-btn-more--arrow-changeable" href="#"><span class="h-hide-on-mobile">See </span>More</a>
        </div>
        <div class="l-divider l-divider--big"></div>
        <h3>Past Sales</h3>
        <div class="c-content__homes">
            <div class="c-content__homes-row">
                <div class="c-content__homes-col c-content__homes-col--property">
                    Property
                </div>
                <div class="c-content__homes-col c-content__homes-col--details">
                    Details
                </div>
                <div class="c-content__homes-col c-content__homes-col--represented">
                    Represented
                </div>
                <div class="c-content__homes-col c-content__homes-col--price">
                    Price
                </div>
            </div>
            <div class="c-content__homes-row">
                <div class="c-content__homes-col c-content__homes-col--property">
                    <div class="c-content__homes-property-photo">
                        <img src="~/images/home5.jpg" alt="">
                    </div>
                </div>
                <div class="c-content__homes-col c-content__homes-col--details">
                    <span class="c-content__homes-price">$900,000</span>
                    <span class="c-content__homes-location">Jamul, CA</span>
                    <span class="c-content__homes-address">3247 Greystone Dr • Jamul, CA 91935</span>
                    <span class="c-content__homes-info">7 bed, 4 bath, 6,150 sqft</span>
                    <span class="c-content__homes-date">Sold date: 09/12/2017</span>
                </div>
                <div class="c-content__homes-col c-content__homes-col--represented">
                    Seller
                </div>
                <div class="c-content__homes-col c-content__homes-col--price">
                    $900,000
                </div>
            </div>
            <div class="c-content__homes-row">
                <div class="c-content__homes-col c-content__homes-col--property">
                    <div class="c-content__homes-property-photo">
                        <img src="~/images/home4.jpg" alt="">
                    </div>
                </div>
                <div class="c-content__homes-col c-content__homes-col--details">
                    <span class="c-content__homes-price">$490,000</span>
                    <span class="c-content__homes-location">El Cajon, CA</span>
                    <span class="c-content__homes-address">9951 Watergum Trl • Santee, CA 92071</span>
                    <span class="c-content__homes-info">6 bed, 5.5 bath, 5,505 sqft</span>
                    <span class="c-content__homes-date">Sold date: 07/21/2017</span>
                </div>
                <div class="c-content__homes-col c-content__homes-col--represented">
                    Buyer
                </div>
                <div class="c-content__homes-col c-content__homes-col--price">
                    $490,000
                </div>
            </div>
            <div class="c-content__homes-row">
                <div class="c-content__homes-col c-content__homes-col--property">
                    <div class="c-content__homes-property-photo">
                        <img src="~/images/home12.jpg" alt="">
                    </div>
                </div>
                <div class="c-content__homes-col c-content__homes-col--details">
                    <span class="c-content__homes-price">$529,000</span>
                    <span class="c-content__homes-location">Santee, CA</span>
                    <span class="c-content__homes-address">627 Hawthorne Ave • El Cajon, CA 92020</span>
                    <span class="c-content__homes-info">6 bed, 5.5 bath, 5,505 sqft</span>
                    <span class="c-content__homes-date">Sold date: 09/11/2017</span>
                </div>
                <div class="c-content__homes-col c-content__homes-col--represented">
                    Buyer
                </div>
                <div class="c-content__homes-col c-content__homes-col--price">
                    $529,000
                </div>
            </div>
            <div class="c-content__homes-row">
                <div class="c-content__homes-col c-content__homes-col--property">
                    <div class="c-content__homes-property-photo">
                        <img src="~/images/home6.jpg" alt="">
                    </div>
                </div>
                <div class="c-content__homes-col c-content__homes-col--details">
                    <span class="c-content__homes-price">$555,000</span>
                    <span class="c-content__homes-location">La Mesa, CA</span>
                    <span class="c-content__homes-address">9565 Janfred Way • La Mesa, CA 91942</span>
                    <span class="c-content__homes-info">6 bed, 5.5 bath, 5,505 sqft</span>
                    <span class="c-content__homes-date">Sold date: 07/11/2017</span>
                </div>
                <div class="c-content__homes-col c-content__homes-col--represented">
                    Buyer
                </div>
                <div class="c-content__homes-col c-content__homes-col--price">
                    $555,000
                </div>
            </div>
            <div class="c-content__homes-row">
                <div class="c-content__homes-col c-content__homes-col--property">
                    <div class="c-content__homes-property-photo">
                        <img src="~/images/home7.jpg" alt="">
                    </div>
                </div>
                <div class="c-content__homes-col c-content__homes-col--details">
                    <span class="c-content__homes-price">$1,265,000</span>
                    <span class="c-content__homes-location">La Mesa, CA</span>
                    <span class="c-content__homes-address">5160 Alzeda Dr • La Mesa, CA 91941</span>
                    <span class="c-content__homes-info">6 bed, 5.5 bath, 5,505 sqft</span>
                    <span class="c-content__homes-date">Sold date: 07/07/2017</span>
                </div>
                <div class="c-content__homes-col c-content__homes-col--represented">
                    Seller
                </div>
                <div class="c-content__homes-col c-content__homes-col--price">
                    $1,265,000
                </div>
            </div>
        </div>
        <ul class="l-list l-list--pagination h-hide-on-tablet">
            <li class="l-list__pagination-control l-list__pagination-control--prev l-list__pagination-control--disabled">
                <a href="#"></a>
            </li>
            <li class="l-list__pagination-pages">
                <span class="l-list-pagination__current">1</span>
                <span class="l-list-pagination__pages-count">32</span>
            </li>
            <li class="l-list__pagination-control l-list__pagination-control--next">
                <a href="#"></a>
            </li>
        </ul>
        <div class="l-row l-row--center h-hide-on-desktop">
            <a class="l-btn l-btn-more l-btn-more--arrow-down" href="#"><span class="h-hide-on-mobile">See </span>More</a>
        </div>
        <div class="l-divider l-divider--big"></div>
        <h3>Ratings &amp; Reviews</h3>
        <div class="c-content__filter c-content__filter--reviews h-clearfix">
            <div class="l-col l-col-4 l-col-xs-6">
                <select class="l-form-control l-form-select l-form-elem-custom" id="reviewType_ReviewFilter">
                    <option>All reviews (16)</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="l-col l-col-4 l-col-xs-6">
                <select class="l-form-control l-form-select l-form-elem-custom" id="reviewOrder_ReviewFilter">
                    <option>Newest first</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="l-col l-col-4 h-hide-on-mobile">
                <button type="button" class="l-btn l-btn--action l-btn--blue">Write a Review</button>
            </div>
        </div>
        <div class="c-content__reviews">
            @foreach (var agentreview in Model.Review)
            {
                <div class="c-content__review-item">
                    <div class="c-content__review-summary">
                        <div class="c-content__review-info">
                            <div class="c-content__review-date">
                                @agentreview.ReviewOn
                            </div>
                            <div class="c-content__review-meta h-show-on-mobile">
                                <div class="c-content__review-author">
                                    Reviewed by:@agentreview.ReviewBy
                                </div>
                                <div class="c-content__review-home">
                                    @agentreview.ReviewFrom
                                </div>
                            </div>
                            <div class="c-content__rating c-content__rating--review">
                                <div class="c-content__rating-stars">
                                    <span class="c-content__rating-star c-content__rating-star--full"></span>
                                    <span class="c-content__rating-star c-content__rating-star--full"></span>
                                    <span class="c-content__rating-star c-content__rating-star--full"></span>
                                    <span class="c-content__rating-star c-content__rating-star--full"></span>
                                    <span class="c-content__rating-star c-content__rating-star--half-full"></span>
                                </div>
                                <div class="c-content__rating-info">
                                    <div class="c-content__review-average">@agentreview.AvgReview</div>
                                </div>
                            </div>
                            <div class="c-content__review-meta h-hide-on-mobile">
                                <div class="c-content__review-author">
                                    Reviewed by: @agentreview.ReviewBy
                                </div>
                                <div class="c-content__review-home">
                                    @agentreview.ReviewFrom
                                </div>
                            </div>
                        </div>
                        <div class="c-content__skill-bars c-content__skill-bars--review">
                            @foreach (var review in agentreview.Review)
                            {
                                <div class="c-content__skill-bar">
                                    <div class="c-content__skill-bar-title">@review.Description</div>
                                    <div class="c-content__skill-bar-average">@review.Review</div>
                                    <div class="c-content__skill-bar-row--default">
                                        <div class="c-content__skill-bar-row" style="width:90%;"></div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                    <div class="c-content__review-content">
                        @agentreview.Comment
                    </div>
                </div>
            }
        </div>
        <div class="c-content__copyright c-content__copyright--zillow">
            <div class="c-content__logo-copyright">
                <a href="#">Zillow</a>
            </div>
            <p>
                &copy; Zillow, Inc., 2006-2016. Use is subject to <a href="#">Terms of Use</a>
            </p>
            <p>
                <a href="#">What's a Zestimate?</a>
            </p>
        </div>
    </div>
</div>
